<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notice_test</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>

</head>


<script type="text/javascript">
    var list_info_tbnoticefile_template = Handlebars.compile(list_info_tbnoticefile);
</script>

<body>
test!!

<!--<input type="text" id="input_id" />-->
<input type="text" id="input_title" />
<input type="text" id="input_content" />

<button onclick="func_test()">버튼입니다!</button>


<script>
    function func_test(){
        $.ajax({
            url: "/api/tbnotice",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                tbuserId: tbuserId
                , title: $("#create_tbnotice_title").val()
                , content: $("#create_tbnotice_content").val()
                , cate: $("#create_tbnotice_cate").val()
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
            },
            error: (data, status, xhr) => {
                alert("error!!");
                alert(JSON.stringify(data));
            }
        });
    }
</script>
</body>
</html>