<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js"></script>

</head>
<body>

<script type="text/javascript">
    var list_info_tbnoticefile = $("#list_info_tbnoticefile").html();
    var list_info_tbnoticefile_template = Handlebars.compile(list_info_tbnoticefile);
</script>

id :
<input id="detail_tbnotice_id" type="text" readonly/>
cate :
<input id="detail_tbnotice_cate" type="text" />
title :
<input id="detail_tbnotice_title" type="text" />
content :
<input id="detail_tbnotice_content" type="text" />

<!--tbuserId :-->
<!--<input id="detail_tbnotice_tbuserId" type="text" />-->

tbuserNick : <font class="font_tbnotice_tbuserNick"></font>

<!--<img id="detail_tbnotice_content_img" alt="123"/>
<a id="detail_tbnotice_content_file" href="">다운로드</a>-->

<button onclick="detail_tbnotice()">detail</button>
<button onclick="update_tbnotice()">update</button>
<br/>
<br/>


<script>
    $( document ).ready(function() {
        console.log( "ready!" );
        detail_tbnotice();
    });
</script>
<script>
    function getIdFromUrl(obj){
        let temp_url_with_idx = obj;
        if(obj == null){
            temp_url_with_idx = window.location.href;
            // => http://localhost:8080/tbnotice/detail/963e1e8f040a43a88d5213598aaebc61
        }
        let split_slash_temp_idx = temp_url_with_idx.split('/');
        let temp_idx = split_slash_temp_idx[split_slash_temp_idx.length - 1];
        let split_question_temp_idx = temp_idx.split('?');
        if(split_question_temp_idx.length > 0){
            temp_idx = split_question_temp_idx[0];
        }
        return temp_idx;
    }
    function detail_tbnotice(){
        $.ajax({
            url: "/api/tbnotice",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                id : getIdFromUrl(null)
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                //alert("success!!");
                //alert(JSON.stringify(obj_data));
                let detailKeys = Object.keys(obj_data);
                for (let eachKey of detailKeys){
                    $("#detail_tbnotice_" + eachKey).val(obj_data[eachKey]);
                    $(".font_tbnotice_" + eachKey).text(obj_data[eachKey]);
                }
/*
                let download_file = data["content"];
                download_file = download_file.replace("/uploadfile/", "");
                download_file = "/download/" + download_file;
                $("#detail_tbnotice_content_file").attr("href", download_file);*/
            },
            error: (data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(data));
            }
        });
    }

    function update_tbnotice(){
        $.ajax({
            url: "/api/tbnotice",
            type: "PUT",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                id : $("#detail_tbnotice_id").val()
                ,title : $("#detail_tbnotice_title").val()
                ,tbuserId : $("#detail_tbnotice_tbuserId").val()
                ,content : $("#detail_tbnotice_content").val()
            }),
            cache: false,
            success: (data, status, xhr)=>{
                //alert("success!!");
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(data));
            }
        });
    }
</script>

</body>
</html>